<template>
    <v-app id="inspire" dark>
        <v-content dark>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card dark class="elevation-12">
                            <v-toolbar dark>
                                <v-toolbar-title>Bienvenu sur le Surveilleur</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field v-model="username" prepend-icon="person" name="login"
                                                  label="Utilisateur" type="text"/>
                                    <v-text-field v-model="password" id="password" prepend-icon="lock" name="password"
                                                  label="Mot de passe"
                                                  type="password"/>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn id="register" @click="register" dark>S'inscrire</v-btn>
                                <v-spacer/>
                                <v-btn id="connect" @click="login" dark color="primary">Se connecter</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-snackbar v-model="snackbar">
                    {{ errorMsg }}
                    <v-btn dark flat @click.native="snackbar = false">Fermer</v-btn>
                </v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import config from '../../config/config'
    import request from 'superagent'

    export default {
        data: () => ({
            drawer: null,
            username: "",
            password: "",
            errorMsg: "",
            snackbar: false
        }),
        props: {
            source: String
        },
        methods: {
            login: function () {
                request.post('http://' + config.serverAdress + '/login')
                    .withCredentials()
                    .send({username: this.username, password: this.password})
                    .then(() => window.location.reload())
                    .catch(() => {
                        this.errorSnackBar("Impossible de se connecter, veuillez réessayer.")
                    });
            },
            errorSnackBar: function (msg) {
                this.errorMsg = msg;
                this.snackbar = true;
            },
            register: function () {
                this.$router.push('/register');
            },
            logout: function () {
                request.get('http://' + config.serverAdress + '/logout')
                    .withCredentials()
                    .send()
                    .then(() => window.location.reload())
                    .catch(err => {
                        alert('error');
                        console.log(err)
                    })
            }
        }
    }
</script>