<template>
    <v-app id="inspire" dark>
        <v-content dark>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card dark class="elevation-12">
                            <v-toolbar dark>
                                <v-toolbar-title>Inscription</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field v-model="username" prepend-icon="person" name="loginR"
                                                  label="Utilisateur" type="text"/>
                                    <v-text-field v-model="password" id="password" prepend-icon="lock" name="passwordR"
                                                  label="Mot de passe"
                                                  type="password"/>
                                    <v-text-field v-model="passwordCheck" id="password-check" prepend-icon="lock"
                                                  name="passwordCheckR" label="Vérification"
                                                  type="password" color="blue" :error="errorPassword"/>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn id="register" @click="register" dark :disabled="errorPassword" color="primary">S'inscrire
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-snackbar v-model="snackbar">
                    {{ errorMsg }}
                    <v-btn dark flat @click.native="snackbar = false">Fermer</v-btn>
                </v-snackbar>
                <v-snackbar v-model="snackbarSuccess">
                    <v-btn id="connect" @click="login" dark flat color="primary">Inscription effectuée, connectez vous.
                    </v-btn>
                    <v-btn dark flat @click.native="snackbarSuccess = false">Fermer</v-btn>
                </v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import config from '../../config/config'
    import request from 'superagent'

    export default {
        name: "register",
        data: () => ({
            username: "",
            password: "",
            passwordCheck: "",
            errorMsg: "",
            snackbar: false,
            snackbarSuccess: false
        }),
        methods: {
            register: function () {
                request.post('http://' + config.serverAdress + '/register')
                    .withCredentials()
                    .send({username: this.username, password: this.password})
                    .then(() => {
                        this.snackbarSuccess = true;
                    })
                    .catch(err => {
                        if (err.response.body.payload.code === 1)
                            this.errorSnackBar("Nom d'utilisateur déjà utilisé.");
                        else
                            this.errorSnackBar(
                                "Une erreur est survenue, " +
                                "veuillez réessayer plus tard " +
                                "ou contacter un administrateur."
                            );
                    })
            },
            errorSnackBar: function (msg) {
                this.errorMsg = msg;
                this.snackbar = true;
            },
            login: function() {
                this.$router.push('/login');
            }
        },
        computed: {
            errorPassword: function () {
                return this.password !== this.passwordCheck;
            }
        }
    }
</script>
