<template>
    <v-content>
        <v-container fluid fill-height>
            <v-layout>
                <v-flex>
                    <list-servers-admin></list-servers-admin>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    import ListServersAdmin from './ListServersAdmin';

    export default ({
        components: {
            ListServersAdmin
        }
    })
</script>