<template>
    <v-app id="inspire" dark>
        <v-navigation-drawer v-model="drawer" clipped fixed app>
            <v-list dense>
                <template v-if="isAdmin">
                    <v-list-tile :to="'/app/dashboard'">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Tableau de bord personnel</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile :to="'/app/admin-dashboard'">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Tableau de bord administrateur</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
                <template v-else>
                    <v-list-tile :to="'/app/dashboard'">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Tableau de bord</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
                <v-list-tile @click="logout">
                    <v-list-tile-action>
                        <v-icon>eject</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Déconnexion</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
            <v-toolbar-title>Le Surveilleur</v-toolbar-title>
        </v-toolbar>
        <router-view/>
    </v-app>
</template>

<script>
    import request from 'superagent'
    import config from '../../config/config'
    import {mapState} from 'vuex';

    export default ({
        name: 'application',
        data() {
            return {
                drawer: false
            }
        },
        methods: {
            logout: function () {
                request.get('http://' + config.serverAdress + '/logout')
                    .withCredentials()
                    .send()
                    .then(() => window.location.reload())
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
        computed: mapState(["isAdmin"])
    })
</script>