<template>
    <v-content>
        <v-container fluid fill-height>
            <v-layout>
                <v-flex>
                    <list-servers></list-servers>
                </v-flex>
            </v-layout>
        </v-container>
        <v-btn color="primary" fab bottom right fixed v-on:click.stop="dialog = !dialog">
            <v-icon>add</v-icon>
        </v-btn>
        <v-dialog v-model="dialog" width="800px">
            <v-card>
                <v-card-title
                        class="grey darken-4 py-4 title"
                >
                    Ajouter un serveur
                </v-card-title>
                <v-container grid-list-sm class="pa-4">
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-text-field
                                    v-model="name"
                                    prepend-icon="label"
                                    placeholder="Nom"
                            />
                        </v-flex>
                        <v-flex xs8>
                            <v-text-field
                                    v-model="url"
                                    prepend-icon="language"
                                    placeholder="URL"
                            />
                        </v-flex>
                        <v-flex xs4>
                            <v-text-field
                                    v-model="port"
                                    prepend-icon="language"
                                    placeholder="PORT"
                            />
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field
                                    v-model="username"
                                    prepend-icon="portrait"
                                    placeholder="Utilisateur"
                            />
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field
                                    v-model="password"
                                    type="password"
                                    placeholder="Mot de passe"
                            />
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn flat @click="dialog = false">Annuler</v-btn>
                    <v-btn flat color="primary" @click="add(serverToAdd); dialog = false">Sauvegarder</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-content>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import ListServers from './ListServers';

    export default ({
        data() {
            return {
                dialog: false,
                name: "",
                url: "",
                username: "",
                password: "",
                port: 22,
                token : ""
            }
        },
        components: {
            ListServers
        },
        methods: mapMutations("servers", ["add"]),
        computed:
            {
                ...mapState(["isAdmin"]),
                serverToAdd: function() {
                    return {url: this.url, name: this.name, username: this.username, password: this.password, port: this.port}
                }
            }
    })
</script>