<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap lg>
            <v-flex d-flex sm4 v-for="server in serverList" :key="server.id">
                <server-card v-bind:server='server'></server-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import ServerCard from './ServerCard';

    export default ({
        created: function () {
            this.getAll();
        },
        computed: mapState("servers", ["serverList"]),
        components: {
            ServerCard
        },
        methods: mapMutations("servers", ["getAll"]),
    })
</script>