<template>
    <v-container fluid grid-list-md>
        <div v-for="(user, userId) in userListAdmin" :key="userId">
            <v-toolbar-title v-if="userId === 0" class="mt-0 mb-2"> {{user.username}}</v-toolbar-title>
            <v-toolbar-title v-else class="mt-4 mb-2">{{user.username}}</v-toolbar-title>
            <v-layout row wrap lg>
                <v-flex v-if="serverListAdmin.filter(s => s.userId === user.id).length === 0">
                    <v-toolbar-title>Cet utilisateur n'a pas de serveurs</v-toolbar-title>
                </v-flex>
                <v-flex d-flex sm4 v-for="server in serverListAdmin.filter(s => s.userId === user.id)" :key="server.id">
                    <server-card v-bind:server='server'></server-card>
                </v-flex>
            </v-layout>
        </div>
    </v-container>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import ServerCard from './ServerCard';

    export default ({
        created: function () {
            this.getAllAdmin();
        },
        computed: {
            ...mapState("servers", ["serverListAdmin", "userListAdmin"]),
        },
        components: {
            ServerCard
        },
        methods: mapMutations("servers", ["getAllAdmin"]),
    })
</script>