<template>
    <v-content grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 md6>
                <cpu-chart :chart-data="JSON.parse(JSON.stringify(chartsStates[$route.params.id].cpuChart))"/>
            </v-flex>
            <v-flex xs12 md6>
                <disk-usage-chart :chart-data="JSON.parse(JSON.stringify(chartsStates[$route.params.id].diskChart))"/>
            </v-flex>
        </v-layout>
    </v-content>
</template>

<script>
    import CpuChart from './CpuChart';
    import DiskUsageChart from './DiskUsageChart';
    import {mapState} from 'vuex';

    export default {
        components: {
            CpuChart,
            DiskUsageChart
        },
        name: "server-dashboard",
        computed: mapState("servers", ["chartsStates"])
    }
</script>
