<template>
    <v-card color="blue" @click="openServer">
        <v-container grid-list-xs>
            <v-layout row>
                <v-card-title color="blue" class="title" @click="openServer" style="cursor: pointer">
                    {{server.name}}
                </v-card-title>
                <v-spacer @click="openServer" style="cursor: pointer"/>
                <v-menu>
                    <v-btn slot="activator" flat icon>
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-tile @click="() => remove(server.id)">
                            <v-list-tile-title>Supprimer</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="editOpened = !editOpened">
                            <v-list-tile-title>Modifier</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-layout>
            <v-card-text @click="openServer" style="cursor: pointer">
                {{server.url}}
            </v-card-text>
        </v-container>
        <v-dialog v-model="editOpened" width="800px">
            <v-card>
                <v-card-title
                        class="grey darken-4 py-4 title"
                >
                    Editer le serveur
                </v-card-title>
                <v-container grid-list-sm class="pa-4">
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-text-field
                                    v-model="name"
                                    prepend-icon="label"
                                    placeholder="Nom"
                            />
                        </v-flex>
                        <v-flex xs8>
                            <v-text-field
                                    v-model="url"
                                    prepend-icon="language"
                                    placeholder="URL"
                            />
                        </v-flex>
                        <v-flex xs4>
                            <v-text-field
                                    v-model="port"
                                    prepend-icon="language"
                                    placeholder="PORT"
                            />
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field
                                    v-model="username"
                                    prepend-icon="portrait"
                                    placeholder="Utilisateur"
                            />
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field
                                    v-model="password"
                                    type="password"
                                    placeholder="Mot de passe"
                            />
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn flat @click="editOpened = false">Annuler</v-btn>
                    <v-btn flat color="primary" @click="editServer(); editOpened = false">Sauvegarder</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-card>
</template>

<script>
    import {mapMutations} from 'vuex';

    export default {
        props: {
            server: Object
        },
        data() {
            return {
                editOpened: false,
                name: this.server.name,
                url: this.server.url,
                port: this.server.port,
                username: this.server.username,
                password: this.server.password,
            }
        },
        name: "server-card",
        methods: {
            ...mapMutations("servers", ["remove", "edit"]),

            editServer() {
                this.edit({
                    ...this.server,
                    name: this.name,
                    url: this.url,
                    port: this.port,
                    username: this.username,
                    password: this.password
                })
            },

            openServer() {
                this.$router.push('server/' + this.server.id);
            }
        }
    }
</script>